In [2]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from seaborn) (2.2.6)
Requirement already satisfied: pandas>=1.2 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from seaborn) (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/sheyla/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)

# ---------------------------------------------------
# 1. Daten laden
# ---------------------------------------------------

path = "/Users/sheyla/Desktop/rookie_invest_ML/data/f2/raw/f2_results_fia.csv"
df = pd.read_csv(path)

df.head()

,season,round,race_id,session,laps,race_time,gap,interval,kph,best_lap_time,best_lap_number,POSNumber / Driver and TeamNo / Driver,LAP SET ON
0,2017,1,972,Race,23,43:01.023,-,-,173.275,1:44.074,16,11C. LeclercLECPREMA Racing,NaN
1,2017,1,972,Race,23,43:02.592,1.569,-,173.170,1:47.043,7,25L. GhiottoGHIRUSSIAN TIME,NaN
2,2017,1,972,Race,23,43:03.921,2.898,1.329,173.081,1:47.175,8,39O. RowlandROWDAMS,NaN
3,2017,1,972,Race,23,43:08.598,7.575,4.677,172.768,1:47.760,14,410N. LatifiLATDAMS,NaN
4,2017,1,972,Race,23,43:10.985,9.962,2.387,172.609,1:46.998,7,515J. KingKINMP Motorsport,NaN

In [4]:
df.columns

Index(['season', 'round', 'race_id', 'session', 'laps', 'race_time', 'gap',
       'interval', 'kph', 'best_lap_time', 'best_lap_number',
       'POSNumber / Driver and TeamNo / Driver', 'LAP SET ON'],
      dtype='object')

In [5]:
df.dtypes

season                                     int64
round                                      int64
race_id                                    int64
session                                   object
laps                                      object
race_time                                 object
gap                                       object
interval                                  object
kph                                       object
best_lap_time                             object
best_lap_number                           object
POSNumber / Driver and TeamNo / Driver    object
LAP SET ON                                object
dtype: object

In [7]:
df["POSNumber / Driver and TeamNo / Driver"].head(10)

0     11C. LeclercLECPREMA Racing
1     25L. GhiottoGHIRUSSIAN TIME
2             39O. RowlandROWDAMS
3             410N. LatifiLATDAMS
4      515J. KingKINMP Motorsport
5          618N. de VriesDEVRapax
6     78A. AlbonALBART Grand Prix
7    86A. MarkelovMARRUSSIAN TIME
8           919J. CecottoCECRapax
9      102A. FuocoFUOPREMA Racing
Name: POSNumber / Driver and TeamNo / Driver, dtype: object

In [8]:
df.columns = df.columns.str.strip()

In [9]:
df.columns = df.columns.str.replace(r"[^\w\s]+", "_", regex=True)

In [10]:
#Spaltennamen bereinigen

df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(r"[^\w\s]+", "_", regex=True)
df.columns

Index(['season', 'round', 'race_id', 'session', 'laps', 'race_time', 'gap',
       'interval', 'kph', 'best_lap_time', 'best_lap_number',
       'POSNumber _ Driver and TeamNo _ Driver', 'LAP SET ON'],
      dtype='object')

In [11]:
df["POSNumber_Driver_and_TeamNo_Driver"].head()

KeyError: 'POSNumber_Driver_and_TeamNo_Driver'

In [12]:
[col for col in df.columns if "POSNumber" in col]

['POSNumber _ Driver and TeamNo _ Driver']

In [13]:
df["POSNumber _ Driver and TeamNo _ Driver"].head()

0    11C. LeclercLECPREMA Racing
1    25L. GhiottoGHIRUSSIAN TIME
2            39O. RowlandROWDAMS
3            410N. LatifiLATDAMS
4     515J. KingKINMP Motorsport
Name: POSNumber _ Driver and TeamNo _ Driver, dtype: object

In [14]:
# Spalte mit FahrerinformatioÂ­nen umbenennen
df = df.rename(columns={
    "POSNumber _ Driver and TeamNo _ Driver": "driver_raw"
})

df[["season", "round", "race_id", "driver_raw"]].head()

   season  round  race_id                   driver_raw
0    2017      1      972  11C. LeclercLECPREMA Racing
1    2017      1      972  25L. GhiottoGHIRUSSIAN TIME
2    2017      1      972          39O. RowlandROWDAMS
3    2017      1      972          410N. LatifiLATDAMS
4    2017      1      972   515J. KingKINMP Motorsport